<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/massage.css">
    <link rel="canonical" href="https://servicioskuo.com/masajes.html">
    <meta name="robots" content="index"/>
    <meta http-equiv="cache-control" content="no-cache"/> <!-- No guardar caché -->
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-57x57.png?alt=media&token=bff22ec3-fa69-4eaf-be69-7de4ce9a62e9">
    <link rel="apple-touch-icon" sizes="60x60" href="/https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-60x60.png?alt=media&token=6cdf8944-84f3-4a8e-9b98-ae20079edef0">
    <link rel="apple-touch-icon" sizes="72x72" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-72x72.png?alt=media&token=b6f05497-e520-4d0c-b626-e2cd3a1d622e">
    <link rel="apple-touch-icon" sizes="76x76" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-76x76.png?alt=media&token=2d9561f2-5d63-4775-9bf8-837c07e057d3">
    <link rel="apple-touch-icon" sizes="114x114" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-114x114.png?alt=media&token=3eda6eb1-1a05-4f6b-827a-b75aa7612d8c">
    <link rel="apple-touch-icon" sizes="120x120" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-120x120.png?alt=media&token=6b41a72f-909f-4b02-93c3-b9100a9018dc">
    <link rel="apple-touch-icon" sizes="144x144" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-144x144.png?alt=media&token=005d2562-d63a-4e5c-b3ff-648ec0bed68e">
    <link rel="apple-touch-icon" sizes="152x152" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-152x152.png?alt=media&token=f7ec9868-a9e8-4e81-aebf-17095b846ff2">
    <link rel="apple-touch-icon" sizes="180x180" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fapple-icon-180x180.png?alt=media&token=e283ff30-0870-4447-b2dd-aaaf66cecf02">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fandroid-icon-192x192.png?alt=media&token=c77e975b-07fb-4820-b749-a5895f10b3b1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Ffavicon-32x32.png?alt=media&token=92550e42-d5e5-4750-b96e-c69b685aee34">
    <link rel="icon" type="image/png" sizes="96x96" href="/https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Ffavicon-96x96.png?alt=media&token=310c2d25-1a4d-42ed-8118-cf16ebe6fa39">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Ffavicon-16x16.png?alt=media&token=009651c2-8953-4bec-aee5-59600d827ccf">
    <link rel="manifest" href="{{ url_for('static', filename='assets/favicon/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ffavicon%2Fms-icon-144x144.png?alt=media&token=7719233f-ad4b-4f41-8a89-166bf9144ec8">
    <meta name="theme-color" content="#1A1A1A">
    <!-- Favicon -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="keywords" content="servicios a domicilio, masaje a domicilio, masajes relajantes, servicio a domicilio, masaje a domicilio, servicio a domicilio Balbuena, masajes en Balbuena, masajes relajantes en Balbuena, masajistas en Balbuena">
    <meta data-n-head="ssr" data-hid="description" name="description" content="Libera el estrés y mejora tu vida con tiempo de relajación total">
    <title> Kuo: Masaje relajante a domicilio. </title>
</head>
<body>
    <header>
        <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Fimg%2Fservicioskuo__white.png?alt=media&token=9672a85c-9a65-4e03-8b9b-02f3d5101dcc" alt="Servicios Kuo">
    </header>
    <main>
        <div class="main__image"> </div>
        <div class="main__text">
            <h1> Descubre la experiencia de un masaje relajante en tu hogar </h1>
            <p> Libera el estrés y mejora tu vida en 30 minutos de relajación total. </p>
        </div>
        <a class="button__fullWidth" href="{{ url_for('unresolved') }}"> Agendar experiencia </a>
        <a class="button__fullWidth" href="{{ url_for('reserva') }}"> Reservar </a>
    </main>
    <section class="how">
        <h1> ¿Cómo funciona? </h1>
        <div class="how__scroll">
        <div class="how__container">
            <div class="how__container--item">
                <p class="how__container--item__step"> 1 </p>
                <p> Agenda tu servicio en la plataforma </p>
            </div>
            <div class="how__container--item">
                <p class="how__container--item__step"> 2 </p>
                <p> Recibe información de la KuoPartner </p>
            </div>
            <div class="how__container--item">
                <p class="how__container--item__step"> 3 </p>
                <p> ¡Disfruta de tu servicio! </p>
            </div>
        </div>
        </div>
    </section>
    <section class="what">
        <h1> ¿Qué incluye? </h1>
        <div class="what__cardContainer">
            <div class="what__cardContainer--item">
                <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fmeditation.png?alt=media&token=0aefcbf3-1e18-4ac6-b040-9f7a6500e58f" alt="Masaje relajante">
                <p> Masaje relajante para liberar el estrés acumulado. </p>
            </div>
            <div class="what__cardContainer--item">
                <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fsound.png?alt=media&token=686e0233-356c-4dc0-ba43-ff2c3d0a43f7" alt="Música relajante">
                <p> Acompaña tu experiencia con melodías relajantes </p>
            </div>
            <div class="what__cardContainer--item">
                <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2FmassageOil.png?alt=media&token=fb52c934-80fd-4f90-8a7c-861286aa2d80" alt="Masaje relajante">
                <p> Disfruta de los beneficios de un aceite especial para masajes. </p>
            </div>
        </div>
        <a class="button__fullWidth" href="./unresolved/p.html"> Agendar masaje </a>
    </section>
    <section class="benefits">
        <h1> Conoce los beneficios de un masaje relajante </h1>
        <div class="benefits__scroll">
        <div class="benefits__cardsContainer">
            <div class="benefits__cardsContainer--item" id="benefits__cardsContainer--item1">
                <p> Potente liberador de estrés. </p>
            </div>
            <div class="benefits__cardsContainer--item" id="benefits__cardsContainer--item2">
                <p> Elimina dolores musculares </p>
            </div>
            <div class="benefits__cardsContainer--item" id="benefits__cardsContainer--item3">
                <p> Aumenta el oxígeno en órganos y tejidos </p>
            </div>
            <div class="benefits__cardsContainer--item" id="benefits__cardsContainer--item4">
                <p> Estimula el apetito sexual </p>
            </div>
            <div class="benefits__cardsContainer--item" id="benefits__cardsContainer--item5">
                <p> Recupera energía causada por el cansancio </p>
            </div>
        </div>
        </div>
    </section>
    <section class="what">
        <div class="what__cardContainer">
            <div class="what__cardContainer--item">
                <img id="special__icon" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fsecurity.png?alt=media&token=feb2d5a1-e25c-4672-89e2-a2ec0572dcda" alt="Seguridad en el servicio a domicilio">
                <h3> Seguridad </h3>
                <p> Monitoreamos el servicio en tiempo real y nuestro equipo de soporte está listo para atenderte. </p>
            </div>
            <div class="what__cardContainer--item">
                <img id="special__icon"  src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fwhatsapp__white.png?alt=media&token=f6062f65-9320-475a-88ca-300f44c448b7" alt="Atención por WhatsApp">
                <h3> Atención directa </h3>
                <p> Habla con nosotros vía WhatsApp. Sin robots, habla con personales reales. </p>
            </div>
            <div class="what__cardContainer--item">
                <img id="special__icon"  src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2FuserCheck.png?alt=media&token=65016872-c886-4a00-977d-de8c7355b45a" alt="KuoPartners capacitados">
                <h3> KuoPartners </h3>
                <p> Nuestras servidoras pasan por un estricto proceso de selección para integrarse a nuestra plataforma. </p>
            </div>
        </div>
        <a class="button__fullWidth" href="./unresolved/p.html"> Agendar masaje </a>
    </section>
    <section class="testimonials">
        <h1> Conoce la experiencia de nuestros usuarios </h1>
        <div class="testimonials__scroll">
            <div class="testimonials__container">
                <div class="testimonials__container--item">
                    <img class="testimonials__container--item--iconQuote" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fquote.png?alt=media&token=97441cea-4c9a-4177-b5dd-05b32b7ac56d" alt="Icono de testimonios">
                    <div class="testimonials__container--item--calification">
                        <img class="testimonials__container--item--calification--stars" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2FwhiteStars.png?alt=media&token=5046b6cf-bd34-49a1-b06c-96e5fdba81a8" alt="Calificación de 5 estrellas">
                        <p> "Estoy encantada, la chica fue sumamente puntual y amable. Sin duda voy a volver a pedir un Kuo." </p>
                    </div>
                    <div class="testimonials__container--item--person">
                        <img src="./assets/img/user1.png" alt="">
                        <h3> Yaneli Luna </h3>
                    </div>
                </div>
                <div class="testimonials__container--item">
                    <img class="testimonials__container--item--iconQuote" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fquote.png?alt=media&token=97441cea-4c9a-4177-b5dd-05b32b7ac56d" alt="Icono de testimonios">
                    <div class="testimonials__container--item--calification">
                        <img class="testimonials__container--item--calification--stars" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2FwhiteStars.png?alt=media&token=5046b6cf-bd34-49a1-b06c-96e5fdba81a8" alt="Calificación de 5 estrellas">
                        <p> "El masaje relajante me ayudo a sacar ese estrés que se va acumulando." </p>
                    </div>
                    <div class="testimonials__container--item--person">
                        <img src="./assets/img/user2.png" alt="">
                        <h3> Rodrigo Juárez </h3>
                    </div>
                </div>
                <div class="testimonials__container--item">
                    <img class="testimonials__container--item--iconQuote" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fquote.png?alt=media&token=97441cea-4c9a-4177-b5dd-05b32b7ac56d" alt="Icono de testimonios">
                    <div class="testimonials__container--item--calification">
                        <img class="testimonials__container--item--calification--stars" src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2FwhiteStars.png?alt=media&token=5046b6cf-bd34-49a1-b06c-96e5fdba81a8" alt="Calificación de 5 estrellas">
                        <p> "Tenía duda de la seguridad pero todo salió perfecto y siempre atentos a mis dudas, gracias!." </p>
                    </div>
                    <div class="testimonials__container--item--person">
                        <img src="./assets/img/user3.png" alt="">
                        <h3> Aketzali Carbajal </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="division"> </div>
    <footer class="footer">
        <div class="footer__logo">
            <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Fimg%2Fservicioskuo__white.png?alt=media&token=9672a85c-9a65-4e03-8b9b-02f3d5101dcc" alt="Logo de Kuo">
            <h2> En las personas confíamos </h2>
        </div>
        <div class="footer__links">
            <h3> Enlaces </h3>
            <div class="footer__links--items">
                <a href="./kuoPartner.html" target="_blank"> Postúlate para ser KuoPartner </a>
                <a href="#"> Reserva un masaje relajante </a>
                <a href="./seleccion.html" target="_blank"> Conoce nuestro proceso de selección </a>
            </div>
        </div>
        <div class="footer__contact">
            <h3> Contacto </h3>
            <div class="footer__contact--items">
                <a href="#"> <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Femail.png?alt=media&token=344e93af-4dc7-467a-87fa-0139f94d963f" alt="Correo electrónico de Kuo"> </a>
                <a href="#"> <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Fwhatsapp__white.png?alt=media&token=f6062f65-9320-475a-88ca-300f44c448b7" alt="WhatsApp de Kuo"> </a>
            </div>
        </div>
        <div class="footer__social">
            <h3> Redes sociales </h3>
            <div class="footer__social--items">
                <a target="_blank" href="https://www.facebook.com/Kuo-104543465093015" rel="external nofollow"> <img src="https://firebasestorage.googleapis.com/v0/b/kuo-services.appspot.com/o/assets%2Ficons%2Ffacebook.png?alt=media&token=3b49561b-5b67-471a-acfd-61d971b3baed" alt="Facebook de Kuo">  </a>
            </div>
        </div>
    </footer>
</body>
</html>